<!DOCTYPE html>
<html>
<head>
  <title>OMNOMNOM</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['g_api_key']}"%>
  <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    cloudinary.setCloudName("<%= ENV['cloud_name'] %>");

    window.CLOUDINARY_OPTIONS = {
      upload_preset: "<%= ENV['cloud_preset']%>",
      theme: "minimal",
      cropping: 'server'
    };
    cloudinary.setCloudName("<%= ENV['cloud_name'] %>");
  </script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <script type="text/javascript">
      window.CURRENT_USER_ID = <%= current_user.id %>;
      window.CURRENT_USERNAME = "<%= current_user.username %>";
      window.CURRENT_USER_IMAGE_URL = "<%= current_user.image_url %>"
      window.CURRENT_USER_REVIEWS = "<%= current_user.reviews.length %>"
    </script>
  <% end %>
</head>
<body>

<% if flash[:errors] %>
  <ul className="errors">
    <% flash[:errors].each do |error| %>
      <li className="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
