<!DOCTYPE html>
<html>
<head>
  <title>SampleProjectProposalMaster</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['g_api_key']}"%>
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    cloudinary.setCloudName("<%= ENV['cloud_name'] %>");

    window.CLOUDINARY_OPTIONS = {
      upload_preset: "<%= ENV['cloud_preset']%>"
    };
    cloudinary.setCloudName("<%= ENV['cloud_name'] %>");
  </script>
  <script src="/path/to/markerwithlabel.js" type="text/javascript"></script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <script type="text/javascript">
      window.CURRENT_USER_ID = <%= current_user.id %>;
      window.CURRENT_USERNAME = "<%= current_user.username %>";
    </script>
  <% end %>
</head>
<body>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
